<ul>
<% @patients.each do |patient| %>
    
    <% name = "Name: " + patient.name + " Number of Appointments: " +  patient.appointments_count  %>
   <li> <%= link_to name, patient_path(patient)%> </li><br>
<% end %>
</ul>